@font-face {
    font-family: stibIcons;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/stibIcons.woff) format("woff"), url(/fonts/stibIcons.ttf) format("truetype")
}

@font-face {
    font-family: Brusseline;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/brusseline-webfont.woff) format("woff"), url(/fonts/brusseline-webfont.ttf) format("truetype")
}

h1 {
    margin: 0 0 .2em;
    font-size: 3em;
    color: #d62027;
    font-family: TradeGothic, Brusseline, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h2 {
    margin: 0 0 .2em;
    font-size: 1.5em;
    color: #0077c1;
    font-family: TradeGothic, Brusseline, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h2:before {
    font-family: stibIcons;
    content: "";
}

main p {
    font-size: larger;
}

/* ========== Navbar ========== */
/* ----- Global ------ */
header {
    background: linear-gradient(to right, white 22%, #02538a 22%);
}

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #02538a;*/
    /* Flex part */
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    float: left;
    transform: skewX(-5deg);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none!important;
    font-size: 1.2rem;
    transition: background-color 0.2s;
}

li a.active {
    background-color: #0966a5;
}

li a:hover {
    background-color: #0077c1;
    color: white;
}

/* ----- Éléments personalisés ------ */
.navigation_title, .header img {
    transform: skewX(5deg);
    margin: 0;
}

li:first-child {
    background-color: white;
}

li:first-child a:hover {
    background-color: white;
}

.header ul li>a span[class^=icon-] {
    padding: 0 0.5rem;
}

.icon-plan:before {
    font-family: stibIcons;
    content:"";
}

/* ========== Title division ========== */
.title_division {
    position: relative;
    padding-bottom: 50px;
}

.title_division img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.title_division h1 {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.title_division h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* ========== Table ========== */
.table .thead-light th {
    color: #495057;
    background-color: #f0f0f0;
    border-color: #e8e8e8;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.02);
}