<!-- Footer -->
<footer>
    <div class="socials">
        <!-- Add your social media icons and links -->
        <a class="social x-twitter" target="_blank" href="https://twitter.com/STIBMIVB">
            <i class="fab fa-x-twitter"></i>
        </a>
        <a class="social facebook" target="_blank" href="https://www.facebook.com/lastib">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="social instagram" target="_blank" href="https://www.instagram.com/stibmivb/">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="social youtube" target="_blank" href="https://www.youtube.com/user/STIBorMIVB">
            <i class="fab fa-youtube"></i>
        </a>
        <a class="social linkedin" target="_blank" href="https://www.linkedin.com/company/stib-mivb">
            <i class="fab fa-linkedin"></i>
        </a>
        <a class="social tiktok" target="_blank" href="https://www.tiktok.com/@stibofficiel">
            <i class="fab fa-tiktok"></i>
        </a>
    </div>
    <p>Created on 24/04/2024 | v1.0.0 </p>
    <p>&copy; 2024 All rights reserved. | Made by <a target="_blank" href="https://antodb.be">AntoDB</a></p>
</footer>
