<header class="header">
    <ul class="container">
        <li>
            <a href="/">
                <img src="https://www.stib-mivb.be/irj/go/km/docs/WEBSITE_RES/Webresources/Frontend/build/images/logo.svg" alt="Homepage">
            </a>
        </li>
        <li class="home">
            <a href="/<%= lang.lang %>/">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span><%= lang.title %></p>
            </a>
        </li>
        <li class="vehicle_positions">
            <a href="/<%= lang.lang %>/vehicle_positions">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span><%= lang.vehicle_positions_title %></p>
            </a>
        </li>
        <li>
            <a href="/">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span>Waiting time</p>
            </a>
        </li>
        <li>
            <a href="/">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span>Connect</p>
            </a>
        </li>
    </ul>
</header>