<header class="header">
    <ul class="container">
        <li>
            <a href="/">
                <img src="https://www.stib-mivb.be/irj/go/km/docs/WEBSITE_RES/Webresources/Frontend/build/images/logo.svg" alt="Homepage">
            </a>
        </li>
        <li>
            <a href="/">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span>Home</p>
            </a>
        </li>
        <li>
            <a href="/vehicle_positions">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span>Vehicle position</p>
            </a>
        </li>
        <li>
            <a href="/">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span>Waiting time</p>
            </a>
        </li>
        <li>
            <a href="/">
                <p class="navigation_title"><span class="icon-plan" area-hidden="true"></span>Connect</p>
            </a>
        </li>
    </ul>
</header>