<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= message %></h1>
    <p>Les données de l'API STIB ont été insérées dans la base de données MongoDB avec succès !</p>
</body>
</html>
